.button {
  background-color: #4CAF50; /* Green */
  border: none;
  padding: 16px 32px;
  text-align: center;
  color: rgb(196, 166, 128);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-style: normal;
  
}

.buttonAzul {
  background-color: #145c6ef5;
  color: white;
}

.buttonAzul:hover {
  
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.alineacionCentro{
  text-align: center;
  align-content: center;
}

.subtitulo{
  font-style: italic;
  font-size: 30px;
  width: auto;
  color: rgb(196, 166, 128);
}

.fondoOscuro{
  background-color: #032631;
}

.historia{
  font-size: 20px;
}

.imagen{
  width: 250px;
  height: 250px;
}

.imagenlarga{
  width: 600px;
  height: 250px;
}